/* CreateCollectionModal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .modal-content h2 {
    margin-bottom: 10px;
  }
  
  .modal-content input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
  }
  .buttons{
    display: flex;
    justify-content: space-evenly;

    width: 100%;
  }